* {
	margin:0;
	padding:0;
	list-style:none;
}
body {
	background:none;
	font:normal 12px/22px "Microsoft Yahei";
	width:100%;
}
img {
	border:0;
}
a {
	text-decoration:none;
	color:#fff;
}
a:hover {
	color:#666;
}
#footer {
	text-align:center;
}
.fullSlide {
	width:100%;
	position:relative;
	height:480px;
	background:#000;
	overflow:hidden;
}
.fullSlide .bd {
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.fullSlide .bd ul {
	width:100% !important;
}
.fullSlide .bd li {
	width:100% !important;
	height:480px;
	overflow:hidden;
	text-align:center;
}
.fullSlide .bd li a {
	display:block;
	height:410px;
}
.fullSlide .bg1{
		position:absolute; 
		top:0px;
		left: 50%;
   		margin-left: -950px;
		background:#fafafa url(../images/banner-bg.png) no-repeat 0% top;
		height:480px; 
		width:350px;
		overflow:hidden;
}
.fullSlide .bg2{
	position: absolute;
    top: 0px;
	left: 50%;
  	margin-left:600px;
    background:#fafafa url(../images/banner-bg2.png) no-repeat 100% top;
    height: 480px;
    width: 350px;
	overflow:hidden;
}
	
	
.fullSlide .hd {
	width:98%;
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	height:30px;
	line-height:30px;
}
.fullSlide .hd ul {
	text-align:center;
}
.fullSlide .hd ul li {
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:42px;
	height:11px;
	margin:1px;
	overflow:hidden;
	background:#000;
	filter:alpha(opacity=50);
	opacity:0.5;
	line-height:999px;
}
.fullSlide .hd ul .on {
	background:#f00;
}
.v1200{ width:1200px; margin:0 auto; position:relative;}
.v1201{ width:1200px; margin:0 auto;}
.fullSlide .prev,.fullSlide .next {
	display:block;
	position:absolute;
	z-index:1;
	top:41%;
	margin-top:-23%;
	left:15.9%;
	z-index:1;
	width:40px;
	height:60px;
	background:url(../images/slider-arrow.png) -128px -137px #000 no-repeat;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.5;
	display:none;
}
.fullSlide .next {
	left:auto;
	right:19%;
	background-position:-6px -137px;
}