@charset "utf-8";
/* CSS Document */

body, p, div, span, ul, li { margin: 0; padding:0; }
.clearfix:after { content:" "; display:block; height:0; clear:both; }
.clearfix { *zoom:1;
}
li { list-style:none; }
.fl { float:left }
img { border:none }
/* case */
.vhd_container{background:#fafafa; min-width:1200px; }
.v1378{width:1378px; margin:0px auto;}
.jindan{margin:20px 0px} 
.case{height:358px;overflow:hidden;width:424px;margin:0 auto; position:absolute; top:-283px; left:31%;}
.case_box{position:relative;margin:176px auto 0px;width:424px;height:358px;overflow:hidden}
.case_box p{z-index:2;position:absolute;text-indent:-9999px;width:28px;height:51px;top:40%;cursor:pointer}
.case_box .prev{text-indent:-9999px;background:url(../images/previous.png) no-repeat;left:20px}
.case_box .next{background:url(../images/next.png) no-repeat;top:40%;right:0px}
.case_box ul{position:absolute;height:107px;overflow:hidden;top:0px;left:0px}
.case_box ul li{width:424px;float:left;height:107px}
.case_box a{width:424px;height:107px; cursor:pointer;}
.case_box ul li dl.case_info{line-height:17px;margin:5px 0px 0px 5px;width:424px;zoom:1;color:#616741;font-size:13px;overflow:hidden}
.case_box ul li dl.case_info dd{text-indent:26px}

.case_box ul li.case_1{background:url(../images/gdong1.png) no-repeat center top}
.case_box ul li.case_2{background:url(../images/gdong2.png) no-repeat center top}
.case_box ul li.case_3{background:url(../images/gdong3.png) no-repeat center top}
.case_box ul li.case_4{background:url(../images/case_4.png) no-repeat center top}
.case_box ul li.case_5{background:url(../images/case_5.png) no-repeat center top}
.case_box ul li.case_6{background:url(../images/case_6.png) no-repeat center top}

.case_box ul li.case_2 dl{margin-top:10px}
.case_box ul li.case_3 dl{margin-top:10px}
.case_box ul li.case_4 dl{margin-top:10px}
.case_box ul li.case_5 dl{margin-top:10px}
.case_box ul li.case_6 dl{margin-top:10px}

.case_info_add dd{line-height:22px}

.case_box ol{position:absolute;bottom:0;left:50%;margin:0 0 0 -65px;height:12px;z-index:99;}
.case_box ol li{float:left;margin:0 4px;display:inline;width:12px;height:12px;line-height:999em;/*background:url(../images/pagination.png) no-repeat;*/overflow:hidden;cursor:pointer;}
.case_box ol li.active{background-position:0 -12px;}
.pros_06 .ui_pros{width:395px; height:207px; float:left;  margin:6px 5px 1px 0px; cursor:pointer; } 
.pro_item{ margin:0 auto; padding-bottom:3px; }
.pro_item_01 .ui_pro{ width:198px; float:left; background:#fff; margin:3px 0px 1px 0px; position:relative;/*padding-bottom:0px; transition: all 0.3s linear; -webkit-transition: all 0.3s linear;*/ }
/* 3��*/
/*.title_01{height:39px;}
.title_02,.title_03,.title_04,.title_05,.title_06,.title_07{height:38px;}*/
.title_01{background:url(../images/title_01.jpg) no-repeat center top; height:56px;}
.title_02{background:url(../images/title_02.jpg) no-repeat center top; height:56px;}
.title_03{background:url(../images/title_03.jpg) no-repeat center top; height:56px;}
.title_04{background:url(../images/title_04.jpg) no-repeat center top; height:56px;}
.title_05{background:url(../images/title_05.jpg) no-repeat center top; height:56px;}
.title_06{background:url(../images/title_06.jpg) no-repeat center top; height:56px;}
.title_07{background:url(../images/title_07.jpg) no-repeat center top; height:56px;}
.title_08{background:url(../images/title_08.jpg) no-repeat center top; height:56px;}


.ui_pro .ui_pimg { position:relative; height:150px; width:150px; padding:0px 1px 0px; margin:12px auto 10px }
.tubiao{position:absolute; left:2%; top:2px}
.ui_pro .ui_pname { height:20px ; overflow:hidden; margin:3px 18px 0px; text-align:center;}
.ui_pro .ui_pname a { font-size:12px; color:#000; font-family:Microsoft Yahei; line-height:18px;  text-decoration:none; }
.ui_pro .ui_promtn {margin:12px 35px 10px; font-size:13px; color:#fff; font-family:Microsoft Yahei; line-height:22px; height:22px;  overflow:hidden; }
.ui_pro .ui_promtn a{font-size:12px; color:#ccc; font-family:Microsoft Yahei; line-height:20px; font-weight:bold; text-decoration:none}
.ui_pro .ui_pprice {font-size:14px; color:#e30303; font-family:Microsoft Yahei; line-height:25px;  display:inline-block;  cursor:pointer; text-decoration:none; margin-left:0px;  padding-left: 20px; height: 28px;}
.ui_pro a:hover{ text-decoration:none}
.ui_pro .ui_pprice em { color:#e30303;  font-family:Microsoft Yahei; font-style:normal }
.ui_pprice_e em{font-size:24px; left: 34px; top: 19px; line-height:22px; font-weight:bold;}
/* 秒杀*/
.tab_con .ui_pro{width:200px; height:267px; margin:3px 0px 3px 0px; border-right:1px #fafafa solid; position:relative;}
.tab_con .pro_item{ margin:0 auto;  background:none;}
.tab_con .ui_pro .ui_pimg { position:relative; height:150px; width:150px; padding:0px 1px 0px; margin:8px auto 10px }

.tab_con .ui_pro .ui_pname { height:16px ; overflow:hidden; margin:10px 12px 2px; width:176px;}
.tab_con .ui_pro .ui_pname a { font-size:15px; color:#000100; font-family:Microsoft Yahei; line-height:17px; font-weight:bold; text-decoration:none; }
.tab_con .ui_pro .ui_promtn {margin:2px 35px 5px; font-size:13px; color:#000100; font-family:Microsoft Yahei; line-height:22px; height:22px;  overflow:hidden; }
.tab_con .ui_pro .ui_promtn a{font-size:12px; color:#737373; font-family:Microsoft Yahei; line-height:22px; font-weight:bold; text-decoration:none}
.tab_con .ui_pro .ui_pprice {font-size:14px; color:#fff; font-family:Microsoft Yahei; line-height:43px;  display:inline-block;  cursor:pointer; text-decoration:none; padding-bottom:12px; margin-left:0px; margin-bottom:1px;padding-left:10px; height:28px;}
.tab_con .ui_pro a:hover{ text-decoration:none}
.tab_con .ui_pro .ui_pprice em { color:#fff;  font-family:Microsoft Yahei; font-style:normal }
.tab_con .ui_pprice_e em{font-size:24px; position:absolute; left:46px; top:6px; line-height:22px; font-weight:bold;}
.tab_con .pro_out{position:absolute; top:0%; left:0%; background:#000;filter:alpha(opacity=20); -moz-opacity:0.2; opacity:0.2; width:200px; height:267px;}
.tab_con .pro_out img{ padding:34px 20px;}
.tab_con .ui_pattribute{ margin:0px; padding:5px 5px 5px; height:61px;}
.tab_con .yuanjia{ font-size:12px;  text-decoration:line-through; padding-left:2px}
.tab_con .ui_pprice_e{color:#fff; font-size:20px; margin-right:8px;}
.tab_con .old_pprice{height:40px;}
.tab_con .jjui_btn{position:absolute; bottom:2%; right:2%}
.tab_con .old_pprice{ background:url(../images/but-msz.png) no-repeat 50% center ;font-size:12px; color:#e30303; height:42px; position:relative;font-family:Microsoft Yahei; font-weight:bold;   }
/* 4��*/


.yujia{ font-size:13px; color:#e30303; text-decoration:line-through; padding-left:2px}

.pro_item_01 .old_pprice{ font-size:12px; color:#e30303; height:26px; position:relative;font-family:Microsoft Yahei; font-weight:bold; text-align:center;   }
.ui_pprice_e{color:#e30303; font-size:16px; font-family:Microsoft Yahei; font-weight:bold;}

.pro_top .ui_pro{ width:488px; padding: 50px 0px 35px 0}

.pro_top .ui_pattribute{ width:262px; padding:0px 25px 0px 0px;margin:0px}
.ui_pimg{ width:210px; padding:0px; margin:0px auto; text-align:center; height:210px}
/*.pro_top .ui_pprice {margin-left:33px;  font-size:16px; color:#fefefe; font-family:Microsoft Yahei; line-height:18px; height:38px ; width:187px; background:url(btn_big.jpg) no-repeat left top; text-align:center; display:inline-block; line-height:35px; cursor:pointer;margin-bottom:16px}*/
.pro_block{ padding-bottom:55px;}

.pro_blank{width: 198px; height: 206px; float: right; margin:0px 0px 0px 0px; 
	border-bottom:1px solid #f5f5f5; border-right:1px solid #f5f5f5; }
.pro_blank .ui_pro .ui_pimg:hover, .pro_blankbot .ui_pro .ui_pimg:hover {opacity: 0.85;
	-webkit-transform: scale3d(1.02,1.02,1);
	transform: scale3d(1.02,1.02,1);}
.pro_blank .ui_pro .ui_pimg, .pro_blankbot .ui_pro .ui_pimg{opacity: 1;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);}
.pro_blank .ui_pro{ float:right; background:#FFF; position:relative; height: 206px; width: 198px; margin: 3px 1px 1px 1px; }
.pro_item_01 .ui_pimg{position:relative; height:150px; width:150px; padding:0px 1px 0px; margin:5px auto 5px;}

.pro_blankbot{width: 199px; height: 206px; float: left;transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; border-bottom:1px solid #f5f5f5; border-right:1px solid #f5f5f5; }


.W1200{width:1200px; margin:0 auto; padding:0px 20px 20px 20px; }
.pro_01{ height:414px; width:600px; float: left; position:relative;  border-right:1px solid #f5f5f5;}
.pro_02{ height:414px; width:210px; float: left; position:relative;border-right:1px solid #f5f5f5;}
.pro_03{ height:414px; width:210px; float: left; position:relative;border-right:1px solid #f5f5f5;}
.pro_04{ height:414px; width:210px; float: left; position:relative;border-right:1px solid #f5f5f5;}
.pro_05{ height:414px; width:210px; float: left; position:relative;border-right:1px solid #f5f5f5;}
.pro_06{ height:414px; width:210px; float: left; position:relative;border-right:1px solid #f5f5f5;}
.pro_07{ height:414px; width:210px; float: left; position:relative;border-right:1px solid #f5f5f5;}
.pro_08{ height:414px; width:210px; float: left; position:relative;border-right:1px solid #f5f5f5;}

.circle_01{background:url(../images/btm.png) no-repeat 0 -439px; width:55px; height:55px; position:absolute; top:45px; left:5px; cursor: pointer;}
.circle_02{background:url(../images/btm.png) no-repeat 0 -439px; width:55px; height:55px; position:absolute; top:45px; left:74px; cursor: pointer;}
.circle_03{background:url(../images/btm.png) no-repeat 0 -439px; width:55px; height:55px; position:absolute; top:45px; left:143px; cursor: pointer;}
.circle_04{background:url(../images/btm.png) no-repeat 0 -439px; width:55px; height:55px; position:absolute; top:110px; left:5px; cursor: pointer;}
.circle_05{background:url(../images/btm.png) no-repeat 0 -439px; width:55px; height:55px; position:absolute; top:110px; left:74px; cursor: pointer;}
.circle_06{background:url(../images/btm.png) no-repeat 0 -439px; width:55px; height:55px; position:absolute; top:110px; left:143px; cursor: pointer;}
.pro_01 .circle_01:hover,.pro_01 .circle_02:hover,.pro_01 .circle_03:hover,.pro_01 .circle_04:hover,.pro_01 .circle_05:hover,.pro_01 .circle_06:hover {background:url(../images/btm.png) no-repeat 0 -5px; width:55px; height:55px;}
.pro_02 .circle_01:hover,.pro_02 .circle_02:hover,.pro_02 .circle_03:hover,.pro_02 .circle_04:hover,.pro_02 .circle_05:hover,.pro_02 .circle_06:hover{background:url(../images/btm.png) no-repeat 0 15%; width:55px; height:55px;}
.pro_03 .circle_01:hover,.pro_03 .circle_02:hover,.pro_03 .circle_03:hover,.pro_03 .circle_04:hover,.pro_03 .circle_05:hover,.pro_03  .circle_06:hover{background:url(../images/btm.png)  no-repeat 0 29%; width:55px; height:55px;}
.pro_04 .circle_01:hover,.pro_04 .circle_02:hover,.pro_04 .circle_03:hover,.pro_04 .circle_04:hover,.pro_04 .circle_05:hover,.pro_04  .circle_06:hover{background:url(../images/btm.png)  no-repeat 0 -191px; width:55px; height:55px;}
.pro_05 .circle_01:hover,.pro_05 .circle_02:hover,.pro_05 .circle_03:hover,.pro_05 .circle_04:hover,.pro_05 .circle_05:hover,.pro_05  .circle_06:hover{background:url(../images/btm.png)  no-repeat 0 -253px; width:55px; height:55px;}
.pro_06 .circle_01:hover,.pro_06 .circle_02:hover,.pro_06 .circle_03:hover,.pro_06 .circle_04:hover,.pro_06 .circle_05:hover,.pro_06  .circle_06:hover{background:url(../images/btm.png)  no-repeat 0 -316px; width:55px; height:55px;}
.pro_07 .circle_01:hover,.pro_07 .circle_02:hover,.pro_07 .circle_03:hover,.pro_07 .circle_04:hover,.pro_07 .circle_05:hover,.pro_07  .circle_06:hover{background:url(../images/btm.png)  no-repeat 0 -378px; width:55px; height:55px;}

.pinpai{position: absolute; font-family:Microsoft Yahei; font-size:12px; color:#000; width: 55px;  text-align: center; height: 55px; line-height: 54px; cursor:pointer; text-decoration:none;}
.pinpai:hover{color:#FFF; text-decoration:underline;}
/*����˵�*/
.title{ width:409px; height:63px; margin:0 auto;}
.miaos{ padding:0px; margin-top:20px; margin-bottom:12px; /*height:435px; /*假定最低高度是435px*/
/*min-height:435px; overflow:hidden;*/}
.vhd_siderBar {position:fixed ; margin:0 auto;left:0; right:auto;  z-index:77;width: 100%;}
.vhd-sideerBar1{/*min-width:980px; text-align:center;  bottom:0%;  z-index: 5; height:108px;position: relative; margin-left:163px*/} 
.vhd-sideerBar1 ul { margin:0 auto 0 -960px; position:relative; width:1920px; background:url(../images/side_01.png) no-repeat center center; height:55px; left:50%; overflow:hidden}
/*.vhd_siderBar .weixin { margin-top:0px; position: relative; z-index:7; width:146px; background:url(side01.gif) no-repeat left 0px;height:137px; right:5%; top:-492px}*/
.vhd_siderBar li.side_01 { display: block; overflow: hidden; width: 142px;  height:30px; position:absolute; top:16px; left:20%}
.vhd_siderBar li.side_02 { display: block; overflow: hidden; width: 142px;  height:30px; position:absolute; top:18px; left:27.8%}
.vhd_siderBar li.side_03 { display: block; overflow: hidden; width: 142px;  height:30px; position:absolute; top:16px; left:35.4%}
.vhd_siderBar li.side_04 { display: block; overflow: hidden; width: 142px;  height:30px; position:absolute; top:16px; left:43%}
.vhd_siderBar li.side_05 { display: block; overflow: hidden; width: 142px;  height:30px; position:absolute; top:16px; left:50.2%}
.vhd_siderBar li.side_06 { display: block; overflow: hidden; width: 142px;  height:30px; position:absolute; top:16px; left:57.8%}
.vhd_siderBar li.side_07 { display: block; overflow: hidden; width: 142px;  height:30px; position:absolute; top:16px; left:64.8%}
.vhd_siderBar li.side_08 { display: block; overflow: hidden; width: 142px;  height:30px; position:absolute; top:16px; left:72.4%}

.vhd_siderBar li.side_01 a{background:url(../images/side_0_1.png) no-repeat center top;}
.vhd_siderBar li.side_01 a:hover{background:url(../images/side_0_2.png) no-repeat center top;}
.vhd_siderBar li.side_02 a{background:url(../images/side_1_1.png) no-repeat center top;}
.vhd_siderBar li.side_02 a:hover{background:url(../images/side_1_2.png) no-repeat center top;}
.vhd_siderBar li.side_03 a{background:url(../images/side_2_1.png) no-repeat center top;}
.vhd_siderBar li.side_03 a:hover{background:url(../images/side_2_2.png) no-repeat center top;}
.vhd_siderBar li.side_04 a{background:url(../images/side_3_1.png) no-repeat center top;}
.vhd_siderBar li.side_04 a:hover{background:url(../images/side_3_2.png) no-repeat center top;}
.vhd_siderBar li.side_05 a{background:url(../images/side_4_1.png) no-repeat center top;}
.vhd_siderBar li.side_05 a:hover{background:url(../images/side_4_2.png) no-repeat center top;}
.vhd_siderBar li.side_06 a{background:url(../images/side_5_1.png) no-repeat center top;}
.vhd_siderBar li.side_06 a:hover{background:url(../images/side_5_2.png) no-repeat center top;}
.vhd_siderBar li.side_07 a{background:url(../images/side_6_1.png) no-repeat center top;}
.vhd_siderBar li.side_07 a:hover{background:url(../images/side_6_2.png) no-repeat center top;}
.vhd_siderBar li.side_08 a{background:url(../images/side_7_1.png) no-repeat center top;}
.vhd_siderBar li.side_08 a:hover{background:url(../images/side_7_2.png) no-repeat center top;}

.ui_minWin_close { background: url(close.png) no-repeat scroll 0 0; height: 41px; line-height: 50px; outline: medium none; overflow: hidden; position: absolute; right: 0px; top: 0px; width: 41px; z-index: 10002; text-indent:200px }
.vhd_siderBar li{ }
.vhd_siderBar li a { color: #fff; display: block; font-family: "Microsoft YaHei"; height:29px;overflow: hidden;  text-decoration: none; width: 142px;  font-size:14px;line-height:30px; text-align:center; background:url(ico.png) no-repeat center right; }
.vhd_siderBar li a:hover{ color:#FF0; background:url(icon_hover.png) no-repeat center right;}
.vhd_cop { color: #FF6D92; font-family: "Microsoft YaHei"; font-size: 14px; font-weight: bold; height: 60px; line-height: 30px; margin: 0 auto; text-align: center; width: 980px; }
.gotop {  }
.vhd_siderBar .gotop a {display: block; overflow: hidden; width: 100px;  height:25px; position:absolute;top:80px; left:19.3%;}

/* --------------------
@ .倒计时
-
/*-----------------*/
.miaoshas {position:relative;}
.miaoshas #time{ font-size:24px; font-family: "Microsoft YaHei"; color:#fff; position:absolute; top:171px; left:25px;}


/* --------------------
@ .8周年嗨抢
-
/*-----------------*/


.fanchang {
    width: 1200px;
    height: 286px;
    position: relative;
	margin:0 auto;
}



/* --------------------
@ .楼层分类
-    
/*-----------------*/
.tags{ float:right; min-width:305px; height:30px; overflow:hidden; padding:25px 0px 0px;}
.tags a{ margin:20px 10px 10px; max-width:100px; font-size:14px; font-family: "Microsoft YaHei"; color:#000;}
 .tags a:hover{color:#ff0000;}
.oment_cover{float:left; width:199px; height:415px; overflow:hidden; border-right:1px solid #f5f5f5;}
.oment_cover-bi2{width:399px; float:right; overflow:hidden; border-bottom:1px solid #f5f5f5}
.oment_cover_logo img{opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);} 
.oment_cover_logo:hover img{opacity: 0.85;
	-webkit-transform: scale3d(1.02,1.02,1);
	transform: scale3d(1.02,1.02,1);}
.oment_cover_logo1 img{/*transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease;*/opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);} 
.oment_cover_logo1:hover img{opacity: 0.85;
	-webkit-transform: scale3d(1.02,1.02,1);
	transform: scale3d(1.02,1.02,1);/*transtion: translateY(-3px); -webkit-transform: translateY(-3px);-o-transform: translateY(-3px);-ms-transform: translateY(-3px);-omz-transform: translateY(-3px);*/ }

/* --------------------
@ .悬浮导航
-    
/*-----------------*/

#vhd_siderBar {  position: fixed; top:40px; width: 59px; height:235px; z-index: 999;background:url(../images/side.jpg) no-repeat 0px 0px; display:none; }
#vhd_siderBar ul {margin:40px auto 0px;width:59px; }
#vhd_siderBar ul li{ height:58px; width:59px; cursor:pointer; line-height:38px;  float:none; color:#fff;text-align:center; font-size:16px; font-weight:bold; }

#vhd_siderBar li.side_01 { display: block; overflow: hidden; width: 59px;  height:58px; position:absolute; top:59px; left:1.3%}
#vhd_siderBar li.side_02 { display: block; overflow: hidden; width: 59px;  height:58px; position:absolute; top:118px; left:1.3%}
#vhd_siderBar li.side_03 { display: block; overflow: hidden; width: 59px;  height:58px; position:absolute; top:171px; left:1.3%}

#vhd_siderBar ul li a{height:58px; width:59px;}

#vhd_siderBar .gotop a{ height:60px;display:block;  width: 59px; position:absolute; top:0px; left:1.3% }

/* --------------------
@ .弹窗
-    
/*-----------------*/
.myspan {display:none;}
	 .bgd {position:fixed; left:0; top:0; background:#000; opacity:.7; width:100%; height:100%;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);z-index:1000000;}
	 .wrapp {position:fixed; left:50%; top:0; margin-left:-490px; width:980px; height:672px; z-index:1100000; transform: scale(0.85,0.85); -webkit-transform: scale(0.85,0.85);}
     .wrapp img {max-width: 100%; max-height:100%;}
	 .dera {position:absolute; }
	 .dd {left:18%; top:20%; z-index:100;}
     .txt {left:16%; top:42%; z-index:200; animation: ds 1s ease-out;}
     .logo {left:41%; top:14%; z-index:300; animation: logo 2s  ease;}
     .yun_01{left:18%; bottom:40px; z-index:300; animation: yun1 4s infinite ease;}
     .yun_02{right:18%; bottom:80px; z-index:300; animation: yun2 3s infinite ease;}
	 .close{right:23%; top:20%; z-index:400; cursor:pointer;}

