em{font-style:normal}
.header_con{
  .logo{
    width:206px;
    height:66px;
    display:block;
    float:left;
    margin:14px 0 0 18px;
  }
  .cart-step{
    width:636px;
    height:40px;
    float:left;
    overflow:hidden;
    line-height:35px;
    background:url("../images/cart/cart32.png") no-repeat 0 0;
    margin-left:107px;
    margin-top:35px;
    li{
      float:left;
      width:40px;
      width:212px;
      overflow:hidden;
      text-align:center;
      color:#fff;
      font-size:16px
    }
  }
}
.cart-wrapper{
  .cart-title{
    //泡泡窗口
    position:relative;
    height:25px;
    line-height:25px;
    margin-bottom:15px;
    margin-top:15px;
    h2{
      font-size:16px;
      color:#333;
    }
    .cart-title-pop{
      position:absolute;
      border:solid 1px #ccc;
      line-height:18px;
      padding:3px 18px 3px 12px;
      top:0;
      left:114px;
      background:#ffffe3;
      color:#333;
      //小箭头icon
      .cart-title-pop-icon{
        background:url("../images/cart/ui_tipsPop.png") no-repeat -10px 0;
        position:absolute;
        width:8px;
        height:8px;
        left:-8px;
        top:8px;
      }
      //关闭按钮
      span{
        background:url("../images/cart/ui_tipsPop.png") no-repeat 0 0;
        right:4px;
        top:3px;
        width:7px;
        height:7px;
        overflow:hidden;
        cursor:pointer;
        position:absolute;
      }

    }

  }
  .cart-item{
    border-top:solid 2px #c7012c;
    margin-bottom:10px;
    .cart-box{
      border:solid 1px #ddd;
      border-top:0;
    }
  }
  //购物车列表
  .cart-list{
    //空购物车
    .cart-empty{
      padding:40px 0 60px 70px;
      width:380px;
      margin:0 auto;
      background:url(../images/cart/ui_icon_alert.png) no-repeat 0 45px;
      .hint-title{
        padding:12px 0;
        font-weight:bold;
        font-size:14px;
      }
      .hint{
        position:relative;
        padding-left:50px;
        line-height:23px;
        dt{
          position:absolute;
          left:0;
          top:0;
        }
      }
    }
    //购物车列表
    .cart-table{
      width:100%;
      th{
        font-weight:normal;
        border-bottom:1px solid #ddd;
        span{
          color:#c7012c;
        }
      }
      th:nth-child(1),td:nth-child(1){
        border-right:1px solid #ddd;
        width: 60px;
        vertical-align: middle;
        text-align: center;
      }
      tbody{
        tr{
          height:80px;
        }
      }
      td{
        border-bottom:1px solid #ddd;
      }
      .col_img{
        width: 206px;
        padding: 0 15px;
        margin-right: 5px;
        text-align:center;
        a{
          display:block;
          padding:10px 0;
        }
      }
      .col_name{
        width: 353px;
        margin:0;
        text-align:center;
        a{
          color:#666;
        }
      }
      .col_num{
        width: 160px;
        text-align:center;
        div{
          height: 21px;
          padding-right: 20px;
          position: relative;
          width: 50px;
          padding-left:18px;
          input{
            border: 1px solid #DDDDDD;
            height: 24px;
            text-align: center;
            width: 50px;
          }
          span{
            cursor: pointer;
            height: 11px;
            display:block;
            border:1px solid #ddd;
            line-height:10px;
            font-size:10px;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
            width: 15px;
          }
          .jian{
            top: 14px;
          }
        }
      }
      .col_price{
        width: 140px;
        text-align:center;
      }
      .col_total{
        width: 140px;
        text-align:center;
      }
      .col_op{
        width:100px;
        text-align:center;
      }
    }
  }
  .count{
    position:relative;
    .cunt-msg{
      position: absolute;
      left: 5px;
      color: #ff0000;
      font-size: 12px;
      top: 17px;
    }
    p{
      font-size: 20px;
      vertical-align: middle;
      color: #333;
      text-align:right;
      padding:20px;
      span{
        color: #f00;
      }
    }
  }
  .cart-like{
    .cart-like-title{
      height:40px;
      line-height:40px;
      background:url("../images/cart/cart_bg.png") repeat-x 0 -90px;
      h4{
        font-size: 16px;
        font-weight: normal;
        color: #c7012c;
        padding-left:16px;
      }
    }
    .cart-like-list{
      ul{
        li{
          height:107px;
          width:211px;
          padding: 0 10px;
          float:left;

          .item-pimg{
            padding:20px 10px;
            float:left;
            .img-link{
              width: 60px;
              height: 60px;
              float: left;
              text-align:center;
            }
          }
          .item-left{
            float:left;
            padding:20px 0;
            .goods-name{
              height: 36px;
              line-height: 18px;
              overflow: hidden;
              white-space: normal;
            }
            .goods-price{
              height: 18px;
              color: #c7012c;
              font-weight: bold;
              font-size: 16px;
            }
            .addcart-btn{
              display:none;
            }
          }
        }
        .cart-like-select{
          .item-left{
            .addcart-btn{
              display:block;
            }
          }
        }
      }
    }
  }
}
.footer{
  .footer-link{
    font-size:12px;
    line-height:24px;
    a{
      color:#676664;
      margin:0 5px 0 2px;
    }
  }
  p{
    font-size:12px;
    color:#989898;
    line-height:16px;
  }
}
.mycart-go{
  padding: 2px 0 0;
  margin-bottom: 25px;
  .clearcart{
    float: left;
    line-height: 25px;
    padding-left: 35px;
    background: url(../images/cart/cart_icon.png) no-repeat 10px -37px;
  }
  .continue-cart{
    float: right;
    width: 111px;
    height: 36px;
    background: url(../images/cart/cart_bg.png) no-repeat 0 -45px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
  }
  .jisuan{
    float: right;
    width: 192px;
    height: 45px;
    overflow: hidden;
    background: url(../images/cart/cart_bg.png) no-repeat 0 0;
    line-height: 45px;
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    margin-left: 20px;
  }
}
