body {
  background: #fafafa;
}
.header {
  background: #fff;
}
#logo {
  display: block;
  width: 207px;
  margin: 14px 0 0 5px;
  height: 65px;
  overflow: hidden;
  background: url("../images/feihu_13.jpg");
  background-size: cover;
  float: left;
}
.search {
  border: 5px solid #e9e9e9;
  float: left;
  margin: 38px 0 32px 140px;
}
#searchForm {
  height: 28px;
  border: 1px solid #ae0001;
  float: left;
  display: block;
}
#searchForm .stxt {
  width: 438px;
  height: 28px;
  float: left;
  font-size: 16px;
  padding-left: 8px;
}
#searchForm .sbtn {
  width: 80px;
  height: 28px;
  float: left;
  background: #ae0001;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: bolder;
}
.nav {
  height: 40px;
  position: relative;
}
.nav .main {
  height: 40px;
  line-height: 40px;
}
.nav .nav-allgoods {
  width: 230px;
  position: absolute;
  background: url("../images/goodsinfo/sl_header32.png") no-repeat 0 0;
}
.nav .nav-allgoods a {
  display: block;
  position: relative;
  width: 205px;
  height: 40px;
  overflow: hidden;
  padding-left: 25px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
}
.nav .nav-allgoods a b {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url(../images/goodsinfo/sl_header_v2.png) no-repeat -20px 0;
}
.nav .miannav {
  background: url("../images/goodsinfo/sl_header32.png") no-repeat right -40px #C7012C;
  margin-left: 230px;
  height: 40px;
}
.nav .miannav ul {
  float: left;
}
.nav .miannav ul li:nth-child(1) a {
  background: none;
}
.nav .miannav ul li:hover a {
  color: #FDCA30;
}
.nav .miannav ul li {
  float: left;
}
.nav .miannav ul li a {
  display: block;
  padding: 0 20px;
  letter-spacing: 2px;
  float: left;
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  line-height: 40px;
  color: #fff;
  margin-right: 0px;
  background: url(../images/goodsinfo/sl_header_icon.png) no-repeat 0 13px;
}
.nav .miannav .cart-con {
  float: right;
  width: 217px;
  height: 27px;
  line-height: 27px;
  margin-top: 6px;
  margin-right: 10px;
  background: url(../images/goodsinfo/sl_header.jpg) 0 -40px;
}
.nav .miannav .cart-con .cart {
  padding-left: 44px;
  display: block;
  float: left;
  color: #333333;
}
.nav .miannav .cart-con .cart span {
  color: #c8012c;
}
.nav .miannav .cart-con .cart-tar {
  float: right;
  display: block;
  width: 72px;
  text-align: center;
  color: #fff;
}
.con-wrapper .con-wrapper-title {
  height: 30px;
  overflow: hidden;
  border-bottom: solid 1px #ddd;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 30px;
  padding-left: 10px;
}
.con-wrapper .con-wrapper-title a {
  float: left;
  color: #666;
}
.con-wrapper .con-wrapper-title span {
  display: block;
  float: left;
  color: #999;
  margin-left: 10px;
  padding-left: 10px;
  background: url("../images/goodsinfo/ui_icon.png") no-repeat 0 -250px;
}
.con-wrapper .goodview {
  float: left;
}
.con-wrapper .imgview {
  position: relative;
  width: 280px;
  height: 280px;
  padding: 10px;
  border: solid 1px #ccc;
}
.con-wrapper .imgview .imgview-con {
  width: 280px;
  height: 280px;
}
.con-wrapper .imgview .imgview-con img {
  width: 280px;
  height: 280px;
}
.con-wrapper .imgview-list {
  margin: 10px 0;
}
.con-wrapper .imgview-list .img-list {
  float: left;
  width: 276px;
  padding: 0 0 0 4px;
  height: 64px;
  overflow: hidden;
  position: relative;
}
.con-wrapper .imgview-list .img-list ul li {
  float: left;
  border: solid 1px #EAEAEA;
  width: 60px;
  height: 60px;
  padding: 1px;
  overflow: hidden;
  margin-right: 5px;
}
.con-wrapper .imgview-list .img-list ul .curr {
  border: solid 2px #B40005;
  padding: 0;
}
.con-wrapper .imgview-list .imgview-list-left {
  float: left;
  width: 10px;
  height: 14px;
  padding: 25px 0;
  overflow: hidden;
  cursor: pointer;
}
.con-wrapper .imgview-list .imgview-list-left span {
  display: block;
  width: 10px;
  height: 14px;
  overflow: hidden;
  background: url(../images/goodsinfo/vi_bg.png) no-repeat -80px 0;
}
.con-wrapper .imgview-list .imgview-list-left span:hover {
  background-position: -80px -22px;
}
.con-wrapper .imgview-list .imgview-list-right {
  float: right;
  width: 10px;
  height: 14px;
  padding: 25px 0;
  overflow: hidden;
  cursor: pointer;
}
.con-wrapper .imgview-list .imgview-list-right span {
  display: block;
  width: 10px;
  height: 14px;
  overflow: hidden;
  background: url(../images/goodsinfo/vi_bg.png) no-repeat -99px 0;
}
.con-wrapper .imgview-list .imgview-list-right span:hover {
  background-position: -99px -22px;
}
.preview-more .enjoy {
  float: right;
}
.preview-more .enjoy a {
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 10px;
  float: right;
}
.preview-more .enjoy a:nth-child(1) {
  background: url("../images/goodsinfo/ui_enjoy.jpg") no-repeat 0 0;
}
.goodinfo {
  margin-left: 312px;
}
.goodinfo .goodinfo-title {
  height: 65px;
  border-bottom: 1px dotted #cbcbcb;
}
.goodinfo .goodinfo-title p {
  line-height: 30px;
  font-size: 14px;
  padding-left: 10px;
}
.goodinfo .goodinfo-title span {
  line-height: 30px;
  color: #999;
  padding-left: 10px;
}
