@yellow:#ae0001;
body{ background:#fff; }
.header{ background:#fff }
#logo{
  display:block;
  width:207px;
  margin:14px 0 0 5px;
  height:65px;
  overflow:hidden;
  background:url("../images/feihu_13.jpg");
  background-size:cover;
  float:left;
}
.search{
  border:5px solid #e9e9e9;
  float:left;
  margin:38px 0 32px 140px;
}
#searchForm{
  height:28px;
  border:1px solid @yellow;
  float:left;
  display:block;
  .stxt{
    width:438px;
    height:28px;
    float:left;
    font-size:16px;
    padding-left:8px;
  }
  .sbtn{
    width:80px;
    height:28px;
    float:left;
    background:@yellow;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    font-weight:bolder;
  }
}
.nav{
  height:40px;
  position:relative;
  .main{
    height:40px;
    line-height:40px;
  }
  .nav-allgoods{
    width:230px;
    position:absolute;
    background:url("../images/goodsinfo/sl_header32.png") no-repeat 0 0;
    //商品总类别 菜单
    .cotegory{
      background:#ffefe0;
      border:solid 1px #c7022d;
      border-top:0;
      position:absolute;
      top:40px;
      left:0;
      width:228px;
      display:none;
      z-index:94;
      .last-item{
        border-bottom:1px solid #cc0101;
      }
      //类别列
      .cotegory-item{
        width:228px;
        position:relative;
        height:51px;
        z-index:94;
        margin-bottom:-1px;
        .cotegory-item-title{
          height:44px;
          padding:2px 0 5px 1px;
          line-height:44px;
          background:url(../images/goodsinfo/sl_header_category_line.png) no-repeat 9px 49px;
          width:229px;
          position:absolute;
          z-index:99;
          a{
            background:url(../images/goodsinfo/sl_header_icon.png) no-repeat 22px -32px;
            padding-left:30px;
            font-size:16px;
            font-weight:normal;
            color:#000;
          }
          b{
            position:absolute;
            right:15px;
            top:18px;
            width:6px;
            height:12px;
            overflow:hidden;
            background:url(../images/goodsinfo/sl_header.png) no-repeat -20px -68px;
          }
        }
        .category_item_content{
          border:solid 2px #c7022d;
          position:absolute;
          left:228px;
          width:705px;
          padding:10px 10px 0 15px;
          z-index:97;
          display:none;
          background:#fff url(../images/goodsinfo/sl_header_category_bg.png?v=0516) repeat-y right 0;
          overflow:hidden;
          .item-left{
            width:475px;
            float:left;
            li{
              float:left;
              margin-left:30px;
            }
          }
          .item-right{
            float:right;
            width:200px;
            padding:0 0 5px 10px;
            position:relative;
            .close-item{
              position:absolute;
              right:2px;
              top:2px;
              width:13px;
              height:13px;
              overflow:hidden;
              background:url(../images/goodsinfo/sl_header.png?v=0516) no-repeat -40px -68px;
              cursor:pointer;
              line-height:100px;
            }
            li{
              float:left;
              margin-right:20px;
            }
          }

        }
      }
      .cotegory-item-curr{

        .cotegory-item-title{
          border:solid 2px #c7022d;
          border-right:none;
          border-left-width:1px;
          padding:0 0 0 0px;
          background:#fff;
          a{
            background:none;
          }
          b{
            display:none;
          }
        }
        .category_item_content{
          display:block;
        }
      }
    }
    .allgoods{
      display:block;
      position:relative;
      width:205px;
      height:40px;
      overflow:hidden;
      padding-left:25px;
      line-height:40px;
      font-size:16px;
      color:#fff;
      letter-spacing:1px;
      b{
        position:absolute;
        top:12px;
        right:15px;
        width:16px;
        height:16px;
        overflow:hidden;
        background:url(../images/goodsinfo/sl_header_v2.png) no-repeat -20px 0;
      }
    }
  }
  //事件类
  .nav-allgoods-curr{
    .cotegory{
      display:block;
    }
    .allgoods{
      b{
        transform:rotate(180deg);
        transform-origin:50% 50%;
        transition:transform .2s ease-in;
        -webkit-transform-origin-x:50%;
        -webkit-transform-origin-y:50%;
      }
    }
  }
  .miannav{
    background:url("../images/goodsinfo/sl_header32.png") no-repeat right -40px #c7012c;
    margin-left:230px;
    height:40px;
    ul{
      float:left;
      li:nth-child(1) a{
        background:none;
      }
      li:hover a{
        color:#fdca30
      }
      li{
        float:left;
        position:relative;
        .icon-hot{
          position:absolute;
          top:-5px;
          right:5px;
          width:15px;
          height:22px;
          overflow:hidden;
          background:url(../images/goodsinfo/sl_header_hot.gif) no-repeat 0 0;
        }
        a{
          display:block;
          padding:0 20px;
          letter-spacing:2px;
          float:left;
          position:relative;
          z-index:1;
          font-size:16px;
          font-family:"Microsoft YaHei";
          line-height:40px;
          color:#fff;
          margin-right:0px;
          background:url(../images/goodsinfo/sl_header_icon.png) no-repeat 0 13px;
        }
      }
    }
    .cart-con{
      float:right;
      width:217px;
      height:27px;
      line-height:27px;
      margin-top:6px;
      margin-right:10px;
      background:url(../images/goodsinfo/sl_header.jpg) 0 -40px;
      .cart{
        padding-left:44px;
        display:block;
        float:left;
        color:#333333;
        span{
          color:#c8012c;
        }
      }
      .cart-tar{
        float:right;
        display:block;
        width:72px;
        text-align:center;
        color:#fff;
      }
    }
  }
}
.con-wrapper{
  .con-wrapper-title{
    height:30px;
    overflow:hidden;
    border-bottom:solid 1px #ddd;
    margin-bottom:10px;
    margin-top:10px;
    line-height:30px;
    padding-left:10px;
    a{
      float:left;
      color:#666;
    }
    span{
      display:block;
      float:left;
      color:#999;
      margin-left:10px;
      padding-left:10px;
      background:url("../images/goodsinfo/ui_icon.png") no-repeat 0 -250px;
    }
  }
  .goodview{
    float:left;
  }
  .imgview{
    position:relative;
    width:280px;
    height:280px;
    padding:10px;
    border:solid 1px #ccc;
    .imgview-con{
      width:280px;
      height:280px;
      position:relative;
      img{
        width:280px;
        height:280px;
      }
    }
  }
  .imgview-list{
    //放大镜图片列表
    margin:10px 0;
    .img-list{
      float:left;
      width:276px;
      padding:0 0 0 4px;
      height:64px;
      overflow:hidden;
      position:relative;
      .img-list-con{
        height:64px;
        width:1000px;
        position:absolute;
        left:6px;
        li{
          float:left;
          border:solid 1px #eaeaea;
          width:60px;
          height:60px;
          padding:1px;
          overflow:hidden;
          margin-right:5px;
        }
        .curr{
          border:solid 2px #b40005;
          padding:0;
        }
      }
    }
    .imgview-list-left{
      float:left;
      width:10px;
      height:14px;
      padding:25px 0;
      overflow:hidden;
      cursor:pointer;
      span{
        display:block;
        width:10px;
        height:14px;
        overflow:hidden;
        background:url(../images/goodsinfo/vi_bg.png) no-repeat -80px 0;
      }
      span:hover{
        background-position:-80px -22px;
      }
    }
    .imgview-list-right{
      float:right;
      width:10px;
      height:14px;
      padding:25px 0;
      overflow:hidden;
      cursor:pointer;
      span{
        display:block;
        width:10px;
        height:14px;
        overflow:hidden;
        background:url(../images/goodsinfo/vi_bg.png) no-repeat -99px 0;
      }
      span:hover{
        background-position:-99px -22px;
      }
    }
  }
}
.preview-more{
  .enjoy{
    float:right;
    text-align:left;
    width:140px;
    a{
      width:16px;
      height:16px;
    }
  }
}
.goodinfo{
  margin-left:312px;
  padding-left:15px;
  .goodinfo-title{
    height:65px;
    padding-left:15px;
    border-bottom:1px dotted #cbcbcb;
    p{ line-height:30px; font-size:14px; }
    span{ line-height:30px; color:#999; }
  }
  .price{
    color:#666;
    font-size:12px;
    padding-left:15px;
    border-bottom:1px dotted #cbcbcb;
    p{
      line-height:30px;
      font-size:12px;
      span{ color:#c8012c; font-weight:bolder; font-size:14px }
      b{ font-size:20px; color:#c8012c; padding-left:10px; font-weight:normal }
    }
    h6{ font-weight:normal; line-height:30px; }
  }
  .buyerinfo{
    padding:15px 15px;
    line-height:25px;
    p{
      color:#666;
      span{ color:#c8012c; }
    }
    .kucun{
      span{float:left}
      height:30px;
    }
    .address-hide{
      display:none;
      position:absolute;
      left: 0;
      top: 22px;
      width: 330px;
      border: solid 1px #7B470E;
      background: #fff;
      padding: 8px 5px;
      dd{border-bottom:1px solid #ccc;}
      a{color:#999; margin:0 10px}
      dl{
        position:relative;
        .address-close{
          width:15px;
          height:15px;
          overflow:hidden;
          position:absolute;
          right:5px;
          top:5px;
          cursor:pointer;
          background: url(../images/goodsinfo/ui_bg_close.png) no-repeat 0 0;
        }
      }
    }
    .address{
      float:left;
      position:relative;
      margin:0 5px;
      .address-top{
        border:1px solid #ddd;
        background:#fff;
        position:relative;
        z-index:5;
        p{
          padding:0 25px 0 20px;
          height:22px;
          line-height:22px;
        }
        span{
          position: absolute;
          width: 11px;
          height: 11px;
          overflow: hidden;
          display:block;
          top: 6px;
          right: 8px;
          background: url(../images/goodsinfo/vi_bg.png) no-repeat -120px 0;
        }
      }
    }
  }
  .buy{
    border:1px solid #eee;
    background:#f8f8f8;
    padding:10px 0;
    .good-color, .good-type{
      height:25px;
      line-height:25px;
      padding:5px 0;
      margin-left:15px;
      span{
        float:left;
        width:60px;
      }
      ul{
        float:left;
      }
      li{
        margin-left:10px;
        float:left;
        border:1px solid #dddddd;
        padding:0px 9px;
        line-height:22px;
        cursor:pointer;
        background:#fff;
      }
      .currcolor{
        border:2px solid #c8012c;
        background:url("../images/goodsinfo/check.jpg") no-repeat right bottom #fff;
      }
    }
    .good-num{
      height:25px;
      line-height:25px;
      padding:5px 0;
      .iwant{
        width:60px;
        float:left;
        margin-left:15px;
      }
      .num{
        float:left;
        margin-left:10px;
        input{
          width:50px;
          height:18px;
          border:1px solid #dddddd;
          text-align:center;
          margin-right:5px;
          float:left;
        }
        span{
          width:18px;
          height:18px;
          line-height:18px;
          background:#f7f7f7;
          text-align:center;
          border:1px solid #ddd;
          display:block;
          float:left;
          margin-right:5px;
          cursor:pointer;
        }
      }
    }
    .sel-good{
      margin-left:19px;
      color:#c8012c;
      line-height:30px;
    }
    .buy-btn{
      margin-left:15px;
      .now-buy{
        display:block;
        float:left;
        width:150px;
        height:50px;
        overflow:hidden;
        margin-right:10px;
        text-align:center;
        line-height:46px;
        font-size:18px;
        color:#fff;
        background:#c81b1b url(../images/goodsinfo/vi_showmain_bg32.png) no-repeat 0 0;
      }
      .now-buy:hover{ background-position:0 -50px; }
      .add-cart{
        float:left;
        height:50px;
        overflow:hidden;
        margin-right:10px;
        line-height:46px;
        font-size:18px;
        color:#fff;
        background:#c81b1b url(../images/goodsinfo/vi_showmain_bg32.png) no-repeat 0 0;
        text-align:left;
        width:110px;
        padding-left:40px;
        background-position:0 -100px;
      }
      .add-cart:hover{ background-position:0 -150px; }
      .add-collect{
        position:relative;
        float:left;
        height:46px;
        line-height:46px;
        padding-left:25px;
        font-size:14px;
        color:#666;
        margin-left:10px;
        margin-right:5px;
        span{
          position:absolute;
          width:16px;
          height:16px;
          overflow:hidden;
          left:5px;
          top:16px;
          background:url(../images/goodsinfo/vi_bg.png) no-repeat -100px -40px;
        }
      }
      .add-collect:hover{
        color:#ffb923;
      }

    }
  }
}
.por{ margin-top:20px }
;
.if-left{
  float:left;
  width:230px;
  margin-right:10px;
  .if-left-bd{ border:1px solid #dedede; border-radius:2px; }
  .if-left-bd5{ border:solid 5px #f1f1f1; }
  .if-left-classify{
    h3{
      height:38px;
      overflow:hidden;
      line-height:38px;
      padding:0 0 0 15px;
      color:#c7012c;
      font-weight:normal;
    }
    .if-left-classify-box{
      overflow:hidden;
      padding:12px 0 15px 15px;
      background:url(../images/goodsinfo/vi_subbg32.png) no-repeat center 0;
      ul{
        margin:10px 0;
        li:hover{ background:#c7012c;
          a{ color:#fff }
        }
      ;
        .classifycurr{ background:#c7012c;
          a{ color:#fff }
        }
        li{
          float:left;
          width:98px;
          float:left;
          background:url(../images/goodsinfo/ui_icon.png) no-repeat 12px -151px;
          a{ color:#666; margin-left:20px; }
        }
      }
    }
  }
  .rank{
    margin-top:6px;
    .rank-title{
      font-size:18px;
      font-weight:normal;
      height:38px;
      overflow:hidden;
      line-height:38px;
      padding:0 0 0 15px;
      color:#c7012c;
      border-bottom:solid 2px #c7012c;
      span{
        padding-right:35px;
        background:url(../images/goodsinfo/ui_icon.png) no-repeat right -200px;
      }
    }
    .rank-tab{
      .rank-tab-curr{
        background:url(../images/goodsinfo/vi_bg.png) no-repeat 0 -22px;
        color:#fff;
      }
      li{
        float:left;
        width:71px;
        height:22px;
        line-height:22px;
        overflow:hidden;
        margin-right:1px;
        cursor:default;
        border-bottom-right-radius:4px;
        border-bottom-left-radius:4px;
        background:url(../images/goodsinfo/vi_bg.png) no-repeat 0 0;
        text-align:center;
      }
    }
  }
  .rank-list{
    height:400px;
    padding:0 8px;
    overflow:hidden;
    ul:nth-child(1){
      display:block;
    }
    ul:nth-child(2){
      display:none;
    }
    ul:nth-child(3){
      display:none;
    }
    .rank-list-cuur{
      height:105px;
      .rank-por-price{
        padding-left:72px;
      }
      .rank-pro-name{
        padding-left:72px;
        line-height:21px;
        padding-top:10px;
      }
      .rank-img{
        display:block;
        top:14px;
        left:0px;
      }
    }
    li:nth-child(1), li:nth-child(2){
      .num{ background-position:0 -60px; }
    }
    li:nth-child(3){
      .num{ background-position:0 -45px; }
    }
    li{
      height:43px;
      padding-left:15px;
      font-size:0;
      line-height:0;
      overflow:hidden;
      position:relative;
      border-bottom:1px dotted #ccc;

      .rank-pro-name{
        height:43px;
        line-height:43px;
        overflow:hidden;
        font-size:12px;
        margin-bottom:0;
        padding-left:5px;
      }
      .rank-por-price{
        line-height:18px;
        padding-top:8px;
        color:#c7012c;
        font-weight:bold;
        font-size:14px;
        em{ font-style:normal; }
      }

      .num{
        position:absolute;
        width:15px;
        height:15px;
        line-height:15px;
        text-align:center;
        left:0;
        top:14px;
        overflow:hidden;
        background:url(../images/goodsinfo/ui_bg.png) no-repeat 0 -30px;
        color:#fff;
        font-size:12px;
      }
      .rank-img{
        position:absolute;
        display:none;
      }
    }
    li:nth-last-child(1){ border-bottom:0 }
  }
}
.mgtop6{ margin-top:6px }
.recently{
  .recently-title{
    font-size:18px;
    font-weight:normal;
    height:38px;
    overflow:hidden;
    line-height:38px;
    padding:0 0 0 10px;
    color:#c7012c;
    border-bottom:2px solid #c7120c;
    position:relative;
    a{
      position:absolute;
      line-height:18px;
      top:10px;
      right:10px;
      font-size:12px;
      color:#999;
    }
    a:hover{
      color:blue;
    }
  }
  ul{
    li{
      height:105px;
      position:relative;
      margin:10px;
      padding-top:5px;
      .rank-por-price{
        padding-left:84px;
        color:#c7120c;
        line-height:30px;
        em{ font-style:normal }
      }
      .rank-pro-name{
        padding-left:84px;
        line-height:21px;
        padding-top:10px;
      }
      .rank-img{
        display:block;
        top:14px;
        left:0px;
        position:absolute;
        img{ border:1px solid #dddddd; }
      }
    }
  }
}
// 产品介绍中心
.if-main{
  float:right;
  width:960px;
  .good-main{
    ul{
      border-bottom:solid 2px #cc0101;
      height:39px;
      overflow:hidden;
      .tabcurr{
        background:url(../images/goodsinfo/vi_tab_curr.png) no-repeat -10px 0;
        color:#fff;
        .first{
          background-position:0 0;
          border-left:none;
          padding-left:11px;
        }
        span{
          background:url(../images/goodsinfo/vi_tab_curr.png) no-repeat -10px 0;
        }
      }
      li:nth-child(1){
        background-position:0 0;
        border-left:none;
        padding-left:11px;
      }
      li:nth-last-child(1){
        span{
          background-position:100% 0;
          padding-right:11px;
        }
      }
      li{
        float:left;
        height:39px;
        line-height:39px;
        padding-left:10px;
        background:url(../images/goodsinfo/vi_tab.png) no-repeat -10px 0;
        border-left:solid 1px #ccc;
        margin-right:-1px;
        font-size:14px;
        position:relative;
        z-index:1;
        cursor:pointer;
        span{
          display:block;
          height:39px;
          padding-right:10px;
          text-align:center;
          background:url(../images/goodsinfo/vi_tab.png) no-repeat -10px 0;
          overflow:hidden;
        }
      }
    }
    .good-tab-con{
      div{ display:none; margin:20px 0; }
      div:nth-child(1){
        display:block;
        img{
          width:960px;
        }
      }
    }
  }
}
.footer{
  margin-top:20px;
  .footer-banner{
    height:47px;
    overflow:hidden;
    line-height:400px;
    margin-bottom:20px;
    background:url(../images/goodsinfo/sl_footer.png?v=0516) no-repeat 0 0;
  }
  .service{
    float:left;
    width:250px;
    padding-top:20px;
    color:#999;
    .service_tel{
      padding-left:35px;
      line-height:24px;
      vertical-align:middle;
      strong{
        font-size:16px;
        color:#333;
        font-weight:normal;
      }
    }
    .service_time{
      position:relative;
      padding-top:6px;
      padding-left:100px;
      .time{
        padding-top:8px;
        em{
          color:#ff6600;
          font-style:normal;
        }
      }
      .icon{
        position:absolute;
        left:40px;
        top:8px;
        width:52px;
        height:50px;
        background:url(../images/goodsinfo/sl_footer.png?v=0516) no-repeat 0 -47px;
      }
    }
  }
  .service_guide{
    dl{
      float:left;
      width:164px;
      height:150px;
      border-left:solid 1px #ddd;
      padding-left:15px;
      a{
        color:#999;
      }
      a:hover{
        color:#0066ff;
        text-decoration:underline;
      }
      dt{
        height:22px;
        line-height:22px;
        margin-bottom:4px;
        font-size:14px;
        color:#000;
      }
      dd{
        height:20px;
        line-height:20px;
        overflow:hidden;
      }
    }
  }
  .bottom{
    line-height:18px;
    color:#999;
    padding-top:20px;
    a{
      color:#666;
    }
  }
}
.bigimg{
  z-index:99;
  position:absolute;
  top:0;
  right:0px;
  width:300px;
  height:300px;
  background:#ffffff;
  border:1px solid #ff9902;
  text-align:center;
  overflow:hidden;
  display:none;
  img{
    position:absolute;
    z-index:22;
  }
}
.smallarea{
  position:absolute;
  top:30px;
  left:0px;
  width:108px;
  height:108px;
  border:1px solid #ff9902;
  background:#fff;
  opacity:0.5;
  display:none;
  cursor:move;
}
.fixed{
  position:fixed;
  width:20px;
  height:70px;
  overflow:hidden;
  background:url(../images/goodsinfo/top.png) no-repeat 0 0;
  right:20px;
  bottom:80px;
  display:none;
}
.cart-added{
  position:fixed;
  display:none;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.3);
  z-index:10001;
  .bac-white{
    background:#fff;
  }
  .cart-added-con{
    width:520px;
    height:400px;
    background:#fff;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background:rgba(255, 255, 255, 0.3);
    padding:6px;
    .cart-added-title{
      background:#f9f9f9;
      border-bottom:solid 1px #f14d58;
      height:50px;
      position:relative;
      h6{
        height:49px;
        border-bottom:solid 1px #e1e1e1;
        line-height:50px;
        color:#333;
        font-size:16px;
        font-weight:bold;
        padding-left:15px;
      }
      a{
        position:absolute;
        width:15px;
        height:15px;
        overflow:hidden;
        background:url(../images/goodsinfo/ui_bg_close.png) no-repeat 0 0;
        top:18px;
        right:14px;
        line-height:50px;
      }
    }
    .cart-added-main{
      background:#fff;
      .success_hint{
        padding:20px 0 20px 190px;
        background:url(../images/goodsinfo/ui_icon_sucess.png) no-repeat 130px 20px;
        .title{
          font-size:16px;
          font-weight:bold;
          margin-bottom:10px;
        }
        .des{
          em{
            font-size:16px;
            font-weight:bold;
            color:#c7012c;
            margin:0 6px;
            font-style:normal;
          }
        }
      }
      .cart-added-btns{
        padding-left:140px;
        padding-bottom:20px;
        overflow:hidden;
        .btn_continue{
          float:left;
          width:100px;
          height:40px;
          overflow:hidden;
          line-height:40px;
          background:url(../images/goodsinfo/vi_minCart.png) no-repeat 0 0;
          text-align:center;
          font-size:14px;
          font-weight:bold;
          margin-right:15px;
        }
        .btn_gocart{
          float:left;
          width:122px;
          height:40px;
          overflow:hidden;
          line-height:40px;
          background:url(../images/goodsinfo/vi_minCart.png) no-repeat 0 -40px;
          text-align:center;
          font-size:18px;
          margin-right:12px;
          color:#fff;
        }
      }
    }
    .cart-hot-title{
      border-top:solid 1px #ddd;
      background:#fff;
      height:33px;
      line-height:33px;
      overflow:hidden;
      font-weight:bold;
      padding:0 10px;
      span{
        float:left;
      }
      a{
        float:right;
        font-weight:normal;
      }
    }
  }
  .cart-hot-list{
    height:160px;
    overflow:hidden;
    padding:0 0 0 40px;
    background:#fff;
    .cart-hot-list-item{
      float:left;
      width:100px;
      height:150px;
      overflow:hidden;
      margin-right:15px;
      em{
        color:#c7012c;
        font-size:16px;
        font-style:normal;
      }
    }
  }

}