.header {
  background: #fff;
}
.con-wrap {
  background: url("../images/login/bg.jpg") repeat-x top;
}
.con {
  position: relative;
  margin: 0 auto;
  width: 950px;
  height: 465px;
  background: url("../images/login/login_bg.jpg") no-repeat center bottom;
}
.con a {
  color: #3d71fb;
  text-decoration: underline;
}
.con .login-logo {
  width: 100%;
  height: 95px;
}
.con .login-form {
  width: 328px;
  height: 350px;
  border: 2px solid #eddfba;
  position: absolute;
  right: 177px;
  bottom: 64px;
  background: #fff;
}
.con .login-form .login-title {
  font-weight: 700;
  color: #666;
  padding-left: 10px;
  height: 31px;
  background: url("../images/login/titleBG.png") repeat-x;
  line-height: 31px;
}
.con .login-form .login-form-box {
  width: 326px;
  height: 320px;
  border: 1px solid #c8012c;
}
.con .login-form .login-form-box .msg-box {
  width: 304px;
  height: 30px;
  border: 1px solid #ccc;
  background: #fafafa;
  margin: 10px auto;
}
.con .login-form .login-form-box .msg-box p {
  padding: 0 10px;
  color: #666;
  line-height: 30px;
  font-size: 12px;
}
.con .login-form .login-form-box .login-form-con {
  width: 304px;
  margin: 0 auto;
  border-bottom: 1px dashed #ccc;
}
.con .login-form .login-form-box .login-form-con dl {
  height: 24px;
}
.con .login-form .login-form-box .login-form-con dl dt {
  float: left;
  line-height: 24px;
  height: 24px;
  width: 60px;
  text-align: right;
}
.con .login-form .login-form-box .login-form-con dl dd {
  float: left;
  margin-left: 10px;
}
.con .login-form .login-form-box .login-form-con dl dd input {
  width: 215px;
  height: 22px;
  padding-left: 5px;
  border: 1px solid #ccc;
}
.con .login-form .login-form-box .login-form-con dl dd .bd-blue {
  border: 1px solid #3d71fb;
}
.con .login-form .login-form-box .login-form-con dl:nth-child(2) {
  margin-top: 10px;
}
.con .login-form .login-form-box .login-form-con dl:nth-child(3) {
  height: 30px;
  line-height: 30px;
}
.con .login-form .login-form-box .link {
  width: 308px;
  height: 102px;
  cursor: pointer;
  margin: 0 auto;
  background: url("../images/login/link_03.jpg") no-repeat center;
}
.con .login-form .login-form-box .bottom {
  height: 40px;
}
.con .login-form .login-form-box .bottom button {
  margin-left: 80px;
  float: left;
  width: 140px;
  height: 40px;
  background: url("../images/login/loginbtn_03.jpg") no-repeat center;
}
.con .login-form .login-form-box .bottom button:hover {
  background: url("../images/login/loginbtn1_03.jpg") no-repeat center;
  cursor: pointer;
}
.con .login-form .login-form-box .bottom a {
  line-height: 40px;
  display: block;
  float: left;
  margin-left: 15px;
}
.footer {
  width: 950px;
  margin: 0 auto;
  line-height: 18px;
  color: #666;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
