.main {
  width: 1200px;
  margin: 0 auto;
}
.header_t {
  height: 28px;
  line-height: 28px;
  color: #646369;
  background: url("../images/feihu_06.jpg") repeat-x;
  border-bottom: 1px solid #cdcdcd;
}
.header_t_left {
  float: left;
}
.header_t_right {
  float: right;
  /*.account:hover{
    b{
      transform:rotate(180deg);
      transition: transform .2s ease-in
    }
  }
  .navigation:hover{
    b{
      transform:rotate(180deg);
      transition: transform .2s ease-in
    }
  }*/
}
.header_t_right li {
  float: left;
}
.header_t_right li b {
  background: url("../images/goodsinfo/sl_sitenav.png?v=0516") no-repeat 0 0px;
  position: absolute;
  right: 5px;
  top: 10px;
  display: block;
  width: 10px;
  height: 5px;
  overflow: hidden;
}
.header_t_right li:last-child {
  background: url("../images/feihu_07.jpg") left center no-repeat;
  padding-left: 20px;
}
.header_t_right a {
  color: #666;
}
.header_t_right .account {
  position: relative;
  width: 80px;
  text-align: center;
  padding: 0 0 0 0px;
}
.header_t_right .account li:last-child {
  background: none;
  padding-left: 0;
}
.header_t_right .account .account-hide {
  float: none;
  width: 80px;
  position: absolute;
  top: 27px;
  left: -1px;
  overflow: hidden;
  display: none;
  background: #fff;
  border: solid #ccc 1px;
  border-top: 0;
  z-index: 9999;
}
.header_t_right .account .account-hide li {
  float: none;
}
.header_t_right .navigation {
  position: relative;
  width: 80px;
  padding: 0;
  text-align: center;
  margin-left: 5px;
}
.header_t_right .navigation li:last-child {
  background: none;
  padding-left: 0;
}
.header_t_right .navigation .navigation-hide {
  float: none;
  position: absolute;
  top: 27px;
  left: -1px;
  display: none;
  background: #fff;
  width: 80px;
  z-index: 9999;
  border: solid #ccc 1px;
  border-top: 0;
}
.header_t_right .navigation .navigation-hide li {
  float: none;
}
.header_t_right .account-curr {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.header_t_right .collect {
  width: 70px;
  padding: 0 0 0 10px;
}
