.main {
  width: 1200px;
  margin: 0 auto;
}
.header_t {
  height: 28px;
  line-height: 28px;
  color: #646369;
  background: url("../images/feihu_06.jpg") repeat-x;
  border-bottom: 1px solid #cdcdcd;
}
.header_t_left {
  float: left;
}
.header_t_right {
  float: right;
}
.header_t_right li {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
}
.header_t_right li:last-child {
  background: url("../images/feihu_07.jpg") left center no-repeat;
  padding-left: 20px;
}
